<%- include('./includes/header.ejs') %>

<h1>Homepage</h1>

<p>Welcome to our website! Discover a world of possibilities and explore our wide range of products and services. Whether you're looking for innovative solutions, top-quality products, or expert advice, we have you covered. Join our community of satisfied customers and experience excellence like never before. Start your journey with us today!</p>


<%- include('./includes/footer.ejs') %>
